@model ProjetoBancoDados.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientePassaporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientePassaporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNascimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn-primary" asp-route-id="@Model?.ClienteId"><i class="fa-solid fa-pen-to-square"></i></a>
    <a asp-action="Index" class="btn-primary">Voltar à Lista</a>
</div>
