@model IEnumerable<ProjetoBancoDados.Models.Pacotes>

@{
    ViewData["Title"] = "Pacotes";
}

<h1>Pacotes</h1>

<p>
    <a asp-action="Create" class="btn-primary">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacotesNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacotesNome)
            </td>
            <td>
                <a asp-action="Edit" class="btn-primary" asp-route-id="@item.PacotesId"><i class="fa-solid fa-pen-to-square"></i></a>
                <a asp-action="Details" class="btn-primary" asp-route-id="@item.PacotesId"><i class="fa-solid fa-circle-info"></i></a>
                <a asp-action="Delete" class="btn-segundo" asp-route-id="@item.PacotesId"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
